#cropper {
    height: 100px;
    width: 100px;
    position: absolute;
    border: 2px solid red;   
    z-index: 9; 
    cursor: move;
}

.resizer {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

.resizer.ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resizer.nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resizer.se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.resizer.sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}
